#animated-btn {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #352e2c;
}

#animated-btn:hover {
  transition: all;
  transition-duration: 0.5s;
  /* box-shadow: 1px 1px 20px 5px rgba(241, 125, 71, 0.185); */
}

#animated-btn:hover::before {
  background-image: conic-gradient(
    from 250deg,
    #f17d47 10deg,
    transparent 145deg
  );
  animation: rotate 6s linear infinite;
  transition: all;
}

#animated-btn::before {
  content: "";
  width: 350%;
  height: 400%;
  position: absolute;
  border-radius: 20px;
  padding: 5px;
}

#animated-btn::after {
  content: "";
  width: 96%;
  height: 94%;
  background: #050505;
  position: absolute;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
