[data-amplify-authenticator] {
  width: 100%;
}
.amplify-tabs {
  overflow: auto;
  height: 100%;
}
.amplify-icon {
  width: 15px;
}
button.amplify-button.amplify-field-group__control {
  display: flex;
  justify-content: center;
  padding: 12px;
  /* border: 1px orange solid; */
}
/* .amplify-divider {
    --amplify-internal-divider-size: var(
      --amplify-components-divider-border-width
    );
    border-color: var(--amplify-components-divider-border-color);
    border-style: var(--amplify-components-divider-border-style);
    border-width: 1px;
    opacity: var(--amplify-components-divider-opacity);
    padding: 0;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
  } */
.amplify-divider::after {
  content: attr(data-label);
  position: absolute;
  width: 100%;
  transform: translate(20%, -50%);
  font-size: var(--amplify-components-divider-label-font-size);
  padding-inline: var(--amplify-components-divider-label-padding-inline);
  background-color: var(--amplify-components-divider-label-background-color);
  background-color: #00000000;
  color: var(--amplify-components-divider-label-color);
}

.amplify-flex.federated-sign-in-container {
  gap: 6px;
  display: flex;
  width: 50%;
  padding-bottom: 10px !important;
  margin: 10px auto;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .amplify-flex.federated-sign-in-container {
    width: 100%;
  }
  .amplify-divider::after {
    transform: translate(42%, -50%);
  }
}
.amplify-icon {
  width: 24px !important;
  height: 24px !important;
}

.amplify-visually-hidden {
  display: none;
}

.amplify-flex.amplify-field-group.amplify-field-group--horizontal {
  display: flex;
  width: 100%;
}

.amplify-field-group__field-wrapper.amplify-field-group__field-wrapper--horizontal {
  width: 100%;
}

[data-amplify-form] input {
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
  height: 100%;
  border-bottom: 1px solid rgb(251 146 60 / 0.4);
  background: rgba(97, 61, 31, 0.1);
}

[data-amplify-form] input:focus {
  outline: none;
  background: rgba(139, 85, 41, 0.219);
}

.amplify-flex.amplify-field.amplify-textfield.amplify-passwordfield {
  width: 100%;
  margin-bottom: 10px;
}
.amplify-flex.amplify-field.amplify-textfield {
  width: 100%;
  margin-bottom: 10px;
}
.amplify-flex.amplify-field-group.amplify-field-group--horizontal {
  margin-top: 10px;
  border: 1px solid orange;
  border-radius: 12px;
  overflow: hidden;
}
.amplify-flex.amplify-field-group.amplify-field-group--horizontal
  .amplify-field-group__outer-end {
  border-left: 1px solid orange;
}
.amplify-button.amplify-field-group__control.amplify-field__show-password {
  border: none;
}
.amplify-flex.federated-sign-in-container
  .amplify-button.amplify-field-group__control.federated-sign-in-button {
  padding: 8px;
  border: 1px solid orange;
  border-radius: 15px;
  justify-content: space-between;
  display: flex;
}
.amplify-flex.federated-sign-in-container
  .amplify-button.amplify-field-group__control.federated-sign-in-button
  span {
  display: block;
  width: 100%;
}

[data-amplify-router]
  .amplify-tabs
  .amplify-tabs__list.amplify-tabs__list--top.amplify-tabs__list--equal {
  /* padding: 10px; */
}
[data-amplify-router]
  .amplify-tabs
  .amplify-tabs__list.amplify-tabs__list--top.amplify-tabs__list--equal
  .amplify-tabs__item {
  margin: 0 10px;
  border-color: gray;
  border-radius: 12px;
  border-width: 1px;
  padding: 10px;
  width: 100%;
}
[data-amplify-router]
  .amplify-tabs
  .amplify-tabs__list.amplify-tabs__list--top.amplify-tabs__list--equal
  .amplify-tabs__item:hover {
  color: orange;
}
.amplify-divider.amplify-divider--horizontal.amplify-divider--small {
  margin: 20px 0;
}

[data-amplify-router]
  .amplify-tabs__list.amplify-tabs__list--top.amplify-tabs__list--equal
  .amplify-tabs__item.amplify-tabs__item--active {
  /* background-color: orange; */
  border-width: 3px;
  border-color: orange;
  /* color: black; */
  border-radius: 12px;
}

[data-amplify-router]
  .amplify-tabs
  .amplify-tabs__list.amplify-tabs__list--top.amplify-tabs__list--equal
  .amplify-tabs__item:hover {
  color: white !important;
}
