.pricing-card:hover {
  border: 1px solid #00ff00;
  transition: all 0.4s ease-in-out;
}

.pricing-bg-gradient {
  background: linear-gradient(to right, #0fffe3a2, #9000ffbd);
  background-clip: border-box;
  color: white;
  border: none;
  transition: background-position 0.4s ease, transform 0.4s ease;
}

.pricing-bg-gradient:hover {
  background-position: 100% 0;
  transform: scale(1.05);
}

.pricing-card-bg {
  background: linear-gradient(to top, #173e83, #510a9e);
  background-clip: border-box;
  color: white;
  border: none;
}

.pricing-card-base-bg{
  background: linear-gradient(to top, #2E363E, #241e24b7);
  background-clip: border-box;
  color: white;
  border: none;
}

.pricing-btn {
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  background-image: radial-gradient(circle, #004d7a, #006400, #00ff00bd, #006400);
  transition: all 0.4s ease-in-out;
  box-shadow: #b6e4b6 0px 0px 3px 0px;
}


.pricing-btn:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}