/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Variables and Base Styles */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  /* Dark Mode */
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.animated-background {
  background-size: 200%;

  -webkit-animation: animation 3s ease infinite;
  -moz-animation: animation 3s ease infinite;
  animation: animation 3s ease infinite;
}

/* Custom Components and Utilities */
.markdown>* {
  all: revert !important;
}

.markdown ol,
ul {
  padding-left: 40px;
}

.markdown ol {
  list-style: decimal;
}

.markdown ul {
  list-style: disc;
}

.markdown td {
  border: 1px solid #777;
  border-collapse: collapse;
  padding: 5px 20px;
}

.markdown table {
  width: 100%;
}

.markdown th {
  border: 1px solid #777;
  border-collapse: collapse;
  padding: 5px 10px;
}

.markdown blockquote {
  font-family: 'Times New Roman', Times, serif !important;
  font-size: larger !important;
}

.code-markdown>* {
  all: revert !important;
}

.dot-typing {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  animation: dot-typing 1.5s infinite linear;
}


* {
  font-family: var(--font-sora);
}

/* Scrollbar Styles */
/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #bba596;
}

::-webkit-scrollbar-thumb {
  background: #835333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a75722;
} */

/* Typography */
.secondaryText {
  font-family: var(--font-playpen);
  font-optical-sizing: auto;
  font-style: normal;
}

.latoText {
  font-family: var(--font-lato);
  font-optical-sizing: auto;
  font-style: normal;
}

.bold-title {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

.text-gradient {
  background: linear-gradient(to right, #FF0AC9, #00FFE0);
  -webkit-background-clip: text;  /* For Chrome, Safari */
  -moz-background-clip: text;     /* For Firefox */
  -ms-background-clip: text;      /* For Internet Explorer */
  background-clip: text;
  -webkit-text-fill-color: transparent;  /* For Chrome, Safari */
  -moz-text-fill-color: transparent;     /* For Firefox */
  -ms-text-fill-color: transparent;      /* For Internet Explorer */
}

.bg-gradient {
  background: linear-gradient(to right, #0fffe3a2, #9000ffbd);
  background-clip: border-box;
  color: white;
  border: none;
  transition: background-position 0.4s ease, transform 0.2s ease;
}

.bg-gradient:hover {
  background-position: 100% 0;
  transform: scale(1.05);
}

.pricing-card-bg {
  background: linear-gradient(to top, #0077ffc0, #9000ff4f);
  background-clip: border-box;
  color: white;
  border: none;
}

.pricing-card-base-bg{
  background: linear-gradient(to top, #2E363E, #241e24b7);
  background-clip: border-box;
  color: white;
  border: none;
}

html,
body {
  background: #040404;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Star Canvas */
.canvas-container {
  position: relative;
}

.canvas-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #040404, transparent);
  pointer-events: none;
}

@layer base {
  body {
    @apply font-sans text-base bg-n-8 text-n-1;
  }
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-135 {
  transform: rotate(135deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-225 {
  transform: rotate(225deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.rotate-315 {
  transform: rotate(315deg);
}

.rotate-360 {
  transform: rotate(360deg);
}

.-rotate-45 {
  transform: rotate(-45deg);
}

.-rotate-90 {
  transform: rotate(-90deg);
}

.-rotate-135 {
  transform: rotate(-135deg);
}

.-rotate-180 {
  transform: rotate(-180deg);
}

.-rotate-225 {
  transform: rotate(-225deg);
}

.-rotate-270 {
  transform: rotate(-270deg);
}

.-rotate-315 {
  transform: rotate(-315deg);
}

.-rotate-360 {
  transform: rotate(-360deg);
}

input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: rgba(28, 108, 255, 0.516);
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #21fa3e;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #030303;
}

.upload-form .elementor-field-type-upload input[type="file"] {
  color: rgb(0, 8, 255);
}

.type1 {
  max-width: fit-content;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.01rem;
  animation: typing 3.5s steps(50), blink-caret 0.75s infinite;
}

.type2 {
  max-width: fit-content;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.01rem;
  animation: typing 3.5s steps(50), blink-caret 0.75s infinite;
  animation-delay: 3000ms;
}

/* ----------CUSTOM---------- */
.gradient-text {
  background: linear-gradient(270deg, #e75a27, rgba(255, 228, 202, 0.6));
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: gradient 8s ease-in-out infinite;
}

/* Gradient Button */
.gradient-bg {
  background: linear-gradient(270deg, #df6336, rgba(255, 253, 251, 0.507));
  background-size: 200% 200%;
}

.horizon-bar {
  font-family: var(--font-sora);
  background: linear-gradient(to right, transparent, #ff7f50, transparent);
}

.input-placeholder::placeholder {
  opacity: 0.4;
  color: #ffffff;
  font-weight: 500;
}

input:focus::placeholder {
  color: transparent;
}

/* ----------LOGIN COMPONENT STYLE---------- */
[data-amplify-container] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

[data-amplify-router] {
  width: 100%;
}

[data-amplify-form] input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(251 146 60 / 0.4);
  background: rgba(97, 61, 31, 0.1);
}

[data-amplify-form] input:focus {
  outline: none;
  background: rgba(139, 85, 41, 0.219);
}

[data-amplify-form] button[type="submit"] {
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  background-image: linear-gradient(to right,
      #f5ce62,
      #e43603,
      #fa7199,
      #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

[data-amplify-form] button[type="submit"]:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

[data-amplify-footer] {
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
  text-align: end;
}

[data-amplify-footer] button[type="button"] {
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
  text-align: end;
}

.amplify-loader {
  display: none;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.amplify-flex {
  width: 100%;
}

.amplify-tabs__list {
  display: flex;
}

.amplify-heading--3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.amplify-button--link {
  font-size: 12px;
  font-weight: 500;
  text-align: end;
  width: 100%;
  padding-top: 5px;
}

no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000;
  transition: opacity 0.9s ease;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  transition: opacity 0.9s ease;
  background-color: #000;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  transition: opacity 0.9s ease;
  background-color: #ccc;
  border-radius: 10px;
}

.custom-radio label:before {
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid rgb(34 197 94 / var(--tw-bg-opacity));
  position: absolute;
  color: white;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.custom-radio :checked+label:before {
  content: "✓";
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
  transform: scale(1);
  z-index: 9;
}

.wrap {
  top: 6px;
}

p {
  overflow: hidden;
}

.flip span {
  animation: flip 6s infinite;
  transition: 0.5s;
}

.animate-checkmark .checkmark-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke: #fff;
  fill: none;
  animation: checkmark 0.3s ease-in-out forwards;
}

.animate-checkmark .checkmark-check {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  stroke-width: 2;
  stroke: #fff;
  fill: none;
  animation: checkmark 0.3s ease-in-out forwards;
}

/* SIGN IN BUTTON ANIMATION */
.text-container {
  position: relative;
  overflow: hidden;
}

.text-slide {
  display: block;
  transition: transform 0.6s ease-in-out;
}

.text-slide-hover {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.6s ease-in-out;
}

/* Button Gray */
.grayscale {
  filter: grayscale(100%);
}

.grayscale-0 {
  filter: grayscale(0%);
}

/* Gradient */
.gradient-border {
  position: relative;
  border-radius: 2rem;
  background-clip: padding-box;
  z-index: 0;
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(to right, #3675D3, #4CBAA0, #D5C25D, #CF87FB);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: subtract;
}

/* Keyframes */
@keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }

  16.667% {
    box-shadow: 9984px -10px 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }

  33.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }

  50% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px -10px 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }

  66.667% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }

  83.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px -10px 0 0 #9880ff;
  }

  100% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }
}

@keyframes animation {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

@keyframes flip {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(-100%);
  }

  66% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 24px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 100%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}
