@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-playpen: "Playpen Sans", cursive;
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  font-family: var(--font-sora);
}

/* FONT FAMILIES */
.secondaryText {
  font-family: var(--font-playpen);
  font-optical-sizing: auto;
  font-style: normal;
}

.body {
  background: #040404;
}

/* Star Canvas */
.canvas-container {
  position: relative;
}

.canvas-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #040404, transparent);
  pointer-events: none;
}

@layer base {
  body {
    @apply bg-n-8 text-n-1 font-sans text-base;
  }
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-135 {
  transform: rotate(135deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-225 {
  transform: rotate(225deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.rotate-315 {
  transform: rotate(315deg);
}

.rotate-360 {
  transform: rotate(360deg);
}

.-rotate-45 {
  transform: rotate(-45deg);
}

.-rotate-90 {
  transform: rotate(-90deg);
}

.-rotate-135 {
  transform: rotate(-135deg);
}

.-rotate-180 {
  transform: rotate(-180deg);
}

.-rotate-225 {
  transform: rotate(-225deg);
}

.-rotate-270 {
  transform: rotate(-270deg);
}

.-rotate-315 {
  transform: rotate(-315deg);
}

.-rotate-360 {
  transform: rotate(-360deg);
}

input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: rgba(28, 108, 255, 0.516);
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #21fa3e;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #030303;
}

.upload-form .elementor-field-type-upload input[type="file"] {
  color: rgb(0, 8, 255);
}

.type1 {
  max-width: fit-content;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.01rem;
  animation: typing 3.5s steps(50), blink-caret 0.75s infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.type2 {
  max-width: fit-content;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.01rem;
  animation: typing 3.5s steps(50), blink-caret 0.75s infinite;
  animation-delay: 3000ms;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* ----------CUSTOM---------- */
.gradient-text {
  background: linear-gradient(270deg, #e75a27, rgba(255, 228, 202, 0.6));
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: gradient 8s ease-in-out infinite;
}

/* Gradient Button */
.gradient-bg {
  background: linear-gradient(270deg, #df6336, rgba(255, 253, 251, 0.507));
  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.horizon-bar {
  font-family: var(--font-sora);
  background: linear-gradient(to right, transparent, #ff7f50, transparent);
}

.input-placeholder::placeholder {
  opacity: 0.4;
  color: #ffffff;
  font-weight: 500;
}

input:focus::placeholder {
  color: transparent;
}

/* ----------LOGIN COMPONENT STYLE---------- */
[data-amplify-container] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

[data-amplify-router] {
  width: 100%;
}

[data-amplify-form] {
  display: flex;
  width: 100%;
}

[data-amplify-form] input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(251 146 60 / 0.4);
  background: rgba(97, 61, 31, 0.1);
}

[data-amplify-form] input:focus {
  outline: none;
  background: rgba(139, 85, 41, 0.219);
}

[data-amplify-form] label {
  display: none;
}

[data-amplify-form] button[type="submit"] {
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

[data-amplify-form] button[type="submit"]:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

[data-amplify-footer] {
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
  text-align: end;
}

[data-amplify-footer] button[type="button"] {
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
  text-align: end;
}

.amplify-loader {
  display: none;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.amplify-flex {
  width: 100%;
}

.amplify-tabs__list {
  display: none;
}

.amplify-visually-hidden {
  display: none;
}

.amplify-icon {
  display: none;
}

.amplify-heading--3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.amplify-button--link {
  font-size: 12px;
  font-weight: 500;
  text-align: end;
  width: 100%;
  padding-top: 5px;
}

no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000;
  transition: opacity 0.9s ease;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  transition: opacity 0.9s ease;
  background-color: #000;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  transition: opacity 0.9s ease;
  background-color: #ccc;
  border-radius: 10px;
}

.custom-radio label:before {
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid rgb(34 197 94 / var(--tw-bg-opacity));
  position: absolute;
  color: white;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.custom-radio :checked + label:before {
  content: "✓";
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
  transform: scale(1);
  z-index: 9;
}

.wrap {
  top: 6px;
}
span {
  display: block;
}
p {
  overflow: hidden;
}

.flip span {
  animation: flip 6s infinite;
  transition: 0.5s;
}
@keyframes flip {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-100%);
  }
  66% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 24px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animate-checkmark .checkmark-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke: #fff;
  fill: none;
  animation: checkmark 0.3s ease-in-out forwards;
}

.animate-checkmark .checkmark-check {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  stroke-width: 2;
  stroke: #fff;
  fill: none;
  animation: checkmark 0.3s ease-in-out forwards;
}

/* SIGN IN BUTTON ANIMATION */
.text-container {
  position: relative;
  overflow: hidden;
}

.text-slide {
  display: block;
  transition: transform 0.6s ease-in-out;
}

.text-slide-hover {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.6s ease-in-out;
}

/*
#animated-btn:hover .text-slide {
  transform: translateY(100%);
}

#animated-btn:hover .text-slide-hover {
  transform: translateY(0);
} */

/* HERO */
@keyframes scroll {
  0%,
  100% {
    top: 0;
  }
  20% {
    top: 0;
  }
  25% {
    top: -50px;
  }
  45% {
    top: -50px;
  }
  50% {
    top: -100px;
  }
  70% {
    top: -100px;
  }
  75% {
    top: -150px;
  }
  95% {
    top: -150px;
  }
}
